//animation speed

$animation-200: 200ms;
$animation-400: 400ms;


//公共系数

//页面总宽度
$--app-width: 1440px !default;

//页面头部总高度
$--app-header-height: 120px !default;

//页面副宽度
$--app-secondary-width: 1200px !default;

$--app-header-top-color: #0a1312;

//main

//footer
