.select {
    width: 100%;
    height: 47px;
    margin: 25px 0 37px 0;
    padding: 0 45px;

    >div {
        &:nth-child(1) {
            >span {
                float: left;
                font-size: 17px;
                font-family: MicrosoftYaHei-Bold;
                font-weight: bold;
                color: rgba(0, 0, 0, 1);
                margin-top: 13px;
            }

            .el-select {
                float: left;
                margin-right: 71px;
                margin-left: 12px;

                .el-input {
                    width: 237px;
                    height: 47px;
                    border-radius: 9px;

                    .el-input__inner {
                        width: 237px;
                        height: 47px;
                        border-radius: 9px;
                        background: RGBA(251, 251, 251, 1);
                        border: 1px solid RGBA(222, 222, 222, 1);
                        font-size: 17px;
                        font-family: MicrosoftYaHei;
                        color: rgba(0, 0, 0, 1);
                    }
                }
            }
        }

        &:nth-child(2) {
            >span {
                float: left;
                font-size: 17px;
                font-family: MicrosoftYaHei-Bold;
                font-weight: bold;
                color: rgba(0, 0, 0, 1);
                margin-right: 12px;
                margin-top: 13px;
            }

            .el-select {
                float: left;
                margin-right: 71px;
                margin-left: 12px;

                .el-input {
                    width: 237px;
                    height: 47px;
                    border-radius: 9px;

                    .el-input__inner {
                        width: 237px;
                        height: 47px;
                        border-radius: 9px;
                        background: RGBA(251, 251, 251, 1);
                        border: 1px solid RGBA(222, 222, 222, 1);
                        font-size: 17px;
                        font-family: MicrosoftYaHei;
                        color: rgba(0, 0, 0, 1);
                    }
                }
            }
        }
    }
}

.resourceTable {
    width: 100%;
    min-height: 726px;
    height: auto;
    padding: 0 45px;

    .el-table {
        border-radius: 6px;

        .el-table__header-wrapper {
            th {
                height: 64px;
                background: rgba(251, 251, 251, 1);
                text-align: center;

                .cell {
                    font-size: 17px;
                    font-family: MicrosoftYaHei-Bold;
                    font-weight: bold;
                    color: rgba(32, 33, 36, 1);
                }
            }
        }

        .el-table__body-wrapper {
            td {
                height: 189px;
                text-align: center;

                .cell {
                    font-size: 17px;
                    font-family: MicrosoftYaHei;
                    color: rgba(32, 33, 36, 1);
                }
            }
        }
    }
}

// 下级列表 
.submemberTitle {
    width: 100%;
    height: 47px;
    padding: 0 45px;
    margin: 36px 0;

    >span {
        font-size: 17px;
        font-family: MicrosoftYaHei-Bold;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        float: left;
        margin-right: 18px;
        margin-top: 13px;
    }

    .block {
        float: left;
        margin-right: 84px;

        .el-date-editor {
            border: none;
            background: #ffffff;
            width: 392px;

            .el-range-input {
                float: left;
                width: 178px;
                height: 47px;
                background: rgba(251, 251, 251, 1);
                border-radius: 9px;
                border: 1px solid RGBA(222, 222, 222, 1);
            }
        }

        >.el-input__inner {
            border: none;
        }
    }

    .el-input {
        width: 268px;
        height: 47px;
        border-radius: 9px;
        border: none;
        float: left;
        margin-right: 84px;

        .el-input__inner {
            width: 268px;
            height: 47px;
            background: rgba(251, 251, 251, 1);
            border-radius: 9px;
            border: 1px solid RGBA(222, 222, 222, 1);
            font-size: 17px;
            font-family: MicrosoftYaHei;
            color: rgba(0, 0, 0, 1);
        }
    }

    .el-select {
        width: 142px;
        height: 47px;
        background: rgba(251, 251, 251, 1);
        border-radius: 9px;
        border: none;
        float: left;
        margin-right: 42px;

        .el-input {
            width: 100%;
            height: 100%;
            float: left;
            border: none;

            .el-input__inner {
                width: 142px;
                height: 47px;
                background: rgba(251, 251, 251, 1);
                border-radius: 9px;
                border: 1px solid RGBA(222, 222, 222, 1);
            }
        }
    }

    .el-row {
        float: left;

        .el-button {
            width: 121px;
            height: 47px;
            border-radius: 9px;
            font-size: 14px;
            font-family: MicrosoftYaHei-Bold;
            font-weight: bold;
            color: rgba(255, 255, 255, 1);
        }
    }
}